html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.App > * {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  height: 100%;
}

.explore {
  height: 100%;
}

.explore h1 {
  margin: 0;
}

.explore .navigation {
  padding: 20px 0;
}

.explore .stack {
  height: 100%;
}

.explore .body {
  height: calc(100% - 400px);
  position: relative;
}

.explore .body .friend-item {
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding: 40px;
  background: #ccc;
  box-sizing: border-box;
}

.explore .navigation {
  position: relative;
}

.explore .corner {
  width: 18px;
  height: 18px;
  position: absolute;
}

.explore .corner.top-left {
  top: 0;
  left: 0;
  background: radial-gradient(circle at bottom right, transparent 18px, #fff 18px);
}

.explore .corner.top-right {
  top: 0;
  right: 0;
  background: radial-gradient(circle at bottom left, transparent 18px, #fff 18px);
}

.explore .corner.bottom-left {
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at top right, transparent 18px, #fff 18px);
}

.explore .corner.bottom-right {
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at top left, transparent 18px, #fff 18px);
}